<section class="col-md-6 mb-2">

<% @order.line_items.each  do |item| %>

  <u><h2> <strong> Name </strong>: <%= item.product.name%> </h2></u>
  <p>  <%= item.product.description%> </p>
  <img src="<%= item.product.image%>" width="300" height="300" alt="Product Image" />
  
  <h5> <strong> Quantity : <%= item.quantity%> </strong></h5>
  <h5> <strong> Price: $<%= item.product.price_cents / 100 %></strong> </h5>
  <h5> <strong>Total item Price: $<%= item.total_price_cents / 100 %> </strong></h5>



 <%end%>
 </section>